@use "../../global" as global;

/*--------------------------------------------------
    トップに戻る
--------------------------------------------------*/

.js-gotoTop__Wrapper {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 0px;
    bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    z-index: 100;
}
