@use "../../global" as g;
//------------------------------------------------
//    ボタン
//------------------------------------------------
.c-button {
    width: 100%;
    height: 6em;
    max-width: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: g.vwmax(10);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0);
    background-color: rgb(144, 238, 144, 0.8);
    transition: 0.3s;
    &:hover {
        color: black;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
        background-color: rgb(144, 238, 144, 0.9);
        border: 1px solid rgba(0, 0, 0, 0.2);
        transform: translate( 0, -2px);
    }
}

.c-button__hover {
    &:hover {
        cursor: pointer;
        color: black;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
        background-color: rgb(144, 238, 144, 0.9);
        border: 1px solid rgba(0, 0, 0, 0.2);
        transform: translate( 0, -2px);
    }
}

.c-button__hover--light {
    &:hover {
        color: rgba(245, 255, 245, 1);
        box-shadow: 0px 1px 4px rgba(0, 40, 0, 0.2);
        background-color: rgb(154, 250, 154, 0.8);
        border: 1px solid rgba(0, 0, 0, 0);
        transform: translate( 0, 0px);
    }
}

.c-button--r20 {
    border-radius: 20px;
}

.c-button--r40 {
    border-radius: 40px;
}

.c-button__cv {
    position: relative;
    width: 100%;
    height: 50px;
    background: rgba(49,69,45,1);
    border-radius: 2px;
    transition: opacity 0.3s;
    font-size: g.rem( 16);
    color: g.$color-font-w;
    display: flex;
    align-items: center;
    &:hover {
        cursor: pointer;
        //opacity: 0.7;
    }
    &.arrow-right {
        &:after {
            position: absolute;
            content: "";
            width: 20px;
            height: 20px;
            border-right: 1px solid g.$color-white;
            border-bottom: 1px solid g.$color-white;
            transform: rotate(-45deg);
        }
    }
}


//  単線枠のボタン
.c-button__lineframe {
    position: relative;
    width: 100%;
    height: 48px;
    background: g.$color-white;//rgba(49,69,45,1);
    transition: opacity 0.3s;
    font-size: g.rem( 16 );
    color: g.$color-darkgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    border : solid 1px g.$color-darkgreen;
    transition : background 0.3s, color 0.3s, border 0.3s;
    &:hover {
        cursor: pointer;
        color: g.$color-font-w;
        background: g.$color-darkgreen;
    }
}

//  「詳しく見る ▶ 」
.c-button__readmore{
    position : relative;
    &:after{
        display : inline-block;
        content : "";
        width: g.rem(16);
        height: g.rem(16);
        background-image: url(../images/common/arrow-w-icon-pc.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transform: translate( 0 , 2px );
        transition : transform 0.3s;

    }
    transition : opacity 0.3s;
    &:hover{
        cursor:pointer;
        opacity:0.8;
        &:after{
            transform: translate( 4px, 2px );
        }
    }
    //  オプション
    &[data-icontype="default"],
    &[data-icontype="arrow-white"]{
    }
    &[data-icontype="arrow-black"]{
        color :g.$color-font-b;
        &:after{
            background-image: url(../images/common/arrow-b-icon-pc.svg);
        }
    }
}
