@use "../../global" as g;
//  基本
.p-button {
    display: block;
    position: relative;
    width: fit-content;
    max-height: 62rem;
    padding: 16rem;
    padding-left: 24rem;
    font-weight: 500;
    font-size: 20rem;
    line-height: 30rem;
    letter-spacing: 0.08rem;
    text-align: left;
    transition: 0.3s;
    cursor: pointer;
}

//  セクション中のボタン枠
.p-button__wrapper{
    width: 100%;
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
}

.p-button__cv {
    width: 168px;
    height: 100%;
    letter-spacing: g.rem(0);
    transition : filter 0.3s;
    &:hover{
        filter:brightness(1.75);
    }
}

.p-button__lineframe{
    width: 202px;
    height: 48px;
    font-size: g.rem( 16 );
    &[data-buttoncolor="yellow"]{
        color : g.$color-font-w;
        background-color : g.$color-yellow;
        border : transparent;
        &:hover {
            color: g.$color-yellow;
            background: transparent;
            border : 1px solid g.$color-yellow;
        }
    
    }
    &[data-buttoncolor="green"]{
        color : g.$color-font-w;
        background-color : g.$color-darkgreen;
        border : transparent;
        &:hover {
            color: g.$color-darkgreen;
            background: transparent;
            border : 1px solid g.$color-darkgreen;
        }
    }
}

.p-button__readmore{
    &[data-section="concept"]{
        &:after{
            margin-left: 1px;
        }
    }
    &[data-section="works"]{
        &:after{
            margin-left: 6px;
        }
    }
}

//----------------------------------------
//  レスポンシブ
//----------------------------------------
@include g.mq('-md') {
    .p-button__cv {
        font-size: g.rem(14);
        padding: 0 26px 0 27px;
        height: 38px;
        letter-spacing: g.rem( 3);
    }
}