@use "../../global" as g;
.p-headerbar {
    width: 100%;
    height: g.$header-height;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.80);
}

.p-headerbar__inner {
    width: 100%;
    max-width: 1080px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
//  左寄せの枠
.p-headerbar__startwrapper {
    display:flex;
    flex-direction: row;
    align-items:center;
    height: 100%;
}
//  中央寄せの枠
.p-headerbar__centerwrapper {
    display:flex;
    flex-direction: row;
    align-items:center;
    height: 100%;
}
//  右寄せの枠
.p-headerbar__endwrapper {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
}

.p-headerbar__menulist {
    width: fit-content;
    margin-left: g.vwclampnow(3, 7,7);
    ul {
        display: flex;
        flex-direction: row;
        gap : 1px;
        .p-headerbar__menuitem {
            position:relative;
            padding-left: 32px;
            padding-right: 28px;
            font-size: 16px;
            letter-spacing: g.rem(-0.25);
            white-space: nowrap;
            transition: color 0.3s;
            a{
                display : flex;
                flex-direction : column;
                transition: filter 0.3s;
                span{
                    transition: filter 0.3s;
                    &:nth-child(2){
                        margin-top: -2px;
                        margin-left:-5px;
                        font-size: g.vwclampmax(10, 12);
                        font-family : g.$font-Lora;
                        color :g.$color-font-y;
                    }
                }
            }
            &:hover {
                $hcolb: rgba(0,0,0,1);
                $hcol : rgba(255,160,0,0.5);
                $hcol2 : rgba(0,0,0,1);
                a{
                    span{
                        filter: drop-shadow(0px 0px 1px $hcol) drop-shadow(0px 0px 2px $hcol) drop-shadow(0px 0px 20px $hcol2);
                    }
                }
            }
            
            &:before{
                position:absolute;
                content : "";
                left: 0;
                top : 6px;
                width: 1px;
                height: 36px;
                background-color : g.$color-black;

            }
            &:nth-child(1){
            }
            &:nth-child(2){
                padding-left: g.vwclampnow( 20, 33,33 );
                padding-right: g.vwclampnow( 20, 31,31 );
            }
            &:nth-child(3){
                padding-right: g.vwclampnow( 20, 32,32 );
            }
            &:nth-child(4){
                padding-right: g.vwclampnow( 20, 32,32 );
            }
            &:nth-child(5){
                padding-left: g.vwclampnow( 20, 29,29 );
            }
        }
    }
}


.p-headerbar__logo {
    margin-left: g.vwmax(20);
    width: 140px;
    height: 36px;
    display: flex;
    align-items: center;
    a{
        aspect-ratio: 140/36;
    }
}

.p-headerbar__buttonarea {
    margin-right: g.vwclampnow( 0, 20, 20 );
    height: 100%;
    font-family: g.$baseFont;
    .p-button__cv{
        display : flex;
        justify-content: center;
        flex-direction : column;
        width: 168px;
        span{
            &:nth-child(1){
                margin-top:1px;
            }
            &:nth-child(2){
                margin-top:-3px;
                font-size: g.vwclampmax(10, 12);
                font-family : g.$font-Lora;
                color :g.$color-font-y;
            }
        }
    }

    .p-hamburger__wrapper {
        display: none;
    }
}

//============================================
//  レスポンシブ
//============================================
@include g.mq('-lg') {
    .p-headerbar__logo {
        width: 120px;
    
    }
    .p-headerbar__menulist {
        margin-left: 20px;
        ul{
            .p-headerbar__menuitem {
                padding-left: g.vwclampnow( 20, 32,32, map-get(g.$bp_bs5, 'lg') );
                padding-right: g.vwclampnow( 20, 28,28, map-get(g.$bp_bs5, 'lg') );
                font-size: g.vwclampmax(12, 16, map-get(g.$bp_bs5, 'lg'));
            }
        }
    }

    .p-headerbar__buttonarea {
        margin-right: 0px;
        .p-button__cv {
            padding: 0 18px 0 20px;
            font-size: g.rem(14);
            white-space: nowrap;
            width: g.vwclampnow( 120, 168, 168, map-get(g.$bp_bs5, 'lg') );
        }
    }
    
}

@include g.mq('-md') {
    .p-headerbar {
        height: g.$header-height-sp;
        justify-content: space-between;
    }
    .p-headerbar__menulist {
        display: none;
    }
    .p-headerbar__logo {
        margin-left: g.vwsp( 20);
        width: 114px;
        height: 29px;
    }
    .p-headerbar__buttonarea {
        margin-left: 0px;
        margin-right: g.vwsp(0);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        #btnContact{
            display:none;
        }
        .p-button__cv {
            display:none;
        }
        .p-hamburger__wrapper {
            display: block;
        }
    }
}