@use "../../global" as g;
// 
.p-works {
    overflow:hidden;
    position : relative;
}

.p-works__background__wrapper {
    position : absolute;
    left : 0;
    margin: 0 calc(50% - 50vw);
    width: 100vw;
    height: 100%;
}
.p-works__background {
    margin: auto;
    position : absolute;
    left: g.vw(454);
    top : g.vw(120);
    width: 100vw;
    height: calc( 100% - g.vw( 120 ) );
    background-color : RGBA(238,234,208,1);
}

.p-works__inner {
    max-width: 1440px;
    margin: auto;
    margin-top: 140px;
}

.p-works__groupwrapper {
    position:relative;
    width: 100%;
    height: 100%;
}

.p-works__group {
    display: grid;
    grid-template-columns: g.vwclampnow( 240, 320, 320) g.vwclampnow( 240, 320, 320) g.vwclampnow( 240, 320, 320);
    grid-template-rows: auto;
    justify-content: center;
    column-gap: g.vwclampnow( 32, 40, 40);
    row-gap: 64px;
    margin-top: 49px;
    padding-bottom: 37px;
    .p-works__item {
        position:relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        margin-right:auto;
        .p-works__image {
            width: g.vwclampnow( 240, 320, 320);
            margin-left:auto;
            aspect-ratio: 320/240;
        }
        .p-works__content {
            position:relative;
            display: flex;
            flex-direction: column;
            left: 0;
            margin-top: 22px;
            width: 100%;
            padding-left: 20px;
            text-align: left;
            .p-works__title {
                font-size: g.rem(24);
                font-weight: 400;
                line-height: g.rem(24);
                letter-spacing: g.rem( 0);
                margin-left: 12px;
                margin-bottom: 20px;
            }
            .p-works__readmore {
                margin-left: 7px;
                margin-top: 2px;
                font-size: g.rem(16);
                display: flex;
                flex-direction : row;
                &.black{
                    color : g.$color-font-b;
                }
                picture{
                    margin-left: 5px;
                    transform: translate(0, 1px);
                    img{
                        max-width:16px;
                        max-height:16px;
                    }
                }
            }
            &:before{
                content : "";
                position : absolute;
                width: 1px;
                height: 144px;
                background-color : g.$color-black;
                left: 24px;
                bottom : 0;
            }
        }
    }
}

.p-works__buttonwrapper{
    margin-top: 40px;
    .p-button__lineframe{
    }
}

//----------------------------------------
//  レスポンシブ
//----------------------------------------
@include g.mq('-xl') {
}

//  タブレット幅
@include g.mq('-lg') {
    .p-works__group {
        display: grid;
        grid-template-columns: 320px 320px;
        grid-template-rows: auto;
        justify-content: center;
        column-gap: 40px;
        row-gap: 64px;

        .p-works__item {
            .p-works__image {
                width: 320px;
            }
        }
    }
    .p-works__background {
        top : 120px;
        height: calc( 100% - 120px );
    }
    
}

//  スマホ
@include g.mq('-md') {
    .p-works {
        margin-top: 0px;
    }
    .p-works__background {
        //  背景全体化の後
        left: g.vwsp(95);
        top : g.vwsp(128);
        width: 100vw;
        height: calc( 100% - g.vwsp( 128 ) );
            
    }
    
    .p-works__inner {
        margin-top: 72px;
        .p-headline__h2 {
        }
        .p-works__group {
            margin-top: 40px;
            grid-template-columns: g.vwsp(160) g.vwsp(160);
            grid-template-rows: auto;
            column-gap: g.vwsp(15);
            row-gap: 38px;
        }
        .p-works__item {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            height: auto;
            gap: 0px;
            .p-works__content {
                position : relative;
                width: 100%;
                order: 1;
                margin-top: 16px;
                margin-bottom: 1px;
                bottom :0;
                padding-left: 20px;
                .p-works__title {
                    font-size: g.rem(20);
                    letter-spacing: g.rem(0);
                    line-height: g.rem(20);
                    margin-left: -3px;
                    margin-bottom: 13px;
                }
                .p-works__lead {
                    width: 100%;
                    margin-top: 8px;
                    font-size: g.rem(16);
                    line-height: 29px;
                    letter-spacing: g.rem( 0.4);
                }
                .p-works__readmore {
                    margin-left : -9px;
                    margin-top : 0;
                    font-size: g.rem(16);
                }
                &:before{
                    left:8px;
                }
            }
            .p-works__image {
                order: 0;
                width: 100%;
                aspect-ratio: 160/104;
                picture {
                    width: 100%;
                }
            }
            &[data-imageindex="5"],
            &[data-imageindex="6"]{
                margin-top: -1px;
            }
        }
        .p-works__buttonwrapper{
            margin-top: 25px;
            .p-button__lineframe{
                width: 153px;
            }
        }
    }
}