@use "../global" as g;

/*--------------------------------------------------
    ヘッダー
--------------------------------------------------*/
//----------------------------------------
//   ヘッダー枠
//   追従するfixedの枠組み。内容はp-headerbar
//----------------------------------------
.l-header {
    top: 0; //  0にしないと上に隙間ができる
    left: 0;
    right: 0;
    margin: 0;
    width: 100%;
    z-index: 500;
    position: relative;
    height: g.$header-height;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent; //white;
    transition: 0.2s;
    .l-header__buttonswrapper {
        text-shadow: none;
    }
    //  初期からfixed
    position: fixed;
    //  フラグが立っている場合は上部に固定表示
    &:not(&.open) {
        &.l-header__float {
            position: fixed;
            .l-header__content {
                background-color: white;
                opacity: 0.8;
            }
            color: black;
            text-shadow: none;
        }
    }
    &.dwis-active {
        position: fixed;
        top: 0;
    }
}

//  ※デザインによって必要な場合
//  fixedでヘッダー分の空白を作る為に
//  ボディにヘッダーの幅分マージン入れる
body {
    &.l-header__float {
        // ヘッダーが透過せず、TOPイメージがヘッダーの下から始まっている場合
//        margin-top: g.$header-height;

        //  ヘッダーが最初から透過、TOPイメージがY0から始まっている場合
        margin-top: 0;
    }
    &.dwis-active {
        position: fixed;
    }
}


//============================================
//  レスポンシブ
//============================================
@include g.mq('-md') {
    .l-header {
        height: g.$header-height-sp;
    }
    body {
        &.l-header__float {
            //  タブ以下消す場合
            //margin-top: g.$header-height-sp;
        }
    }
}